.header {
  height: 15%;
}

h5 {
  font-size: 4vw;
}

h3.service_name {
  margin-bottom: 0%;
}

.logo {
  width: 14%;
}

.logo_img {
  width: 90%;
  max-width: 65px;
}

.homepage_img {
  width: 100%;
}

.example_img {
  width: 100%;
}

#districts, #include, #exclude, #searched_name, #add, #delete, #change, .pre-rated, .rate_service, .accessibility {
  display: none;
  margin: auto;
}

#include, #exclude, #districts, #searched_name {
  width: 50%;
}

i.fa-chevron-down {
  margin-left: 4%;
}

i.fa-map-marker-alt {
  margin-right: 2%;
}

i.fa-star-half, i.fa-star {
  color: white;
}

.inline {
  margin-left: 8px;
}