/*removes default space*/
* {
  margin: 0;
}

html {
  text-align: center;
  height: 100%; /*ensures page extends to fit screen*/
}

header {
  background-color: blue;
  margin: 0px;
  color: white;
  width: 100%;
  height: 6%;
}

.logo {
  width: 15%;
  height: 100%;
  float: left;
}

h1 {
  margin: 5px;
  font-weight: bold;
}

h2 {
  float: left;
  padding: 1.5%;
}

.login {
  float: right;
  padding: 2.5%
}

body {
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  bottom: 0;
}

nav {
  width: 100%;
  background-color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*styles the links in the nav*/
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

li a {
  color: white;
  padding: 2%;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

.about_us {
  position: relative;
  text-align: left;
  color: black;
}

.about_text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-60%, -40%);
}

.homepage_img {
  height: 50%;
  width: 100%;
  opacity: 0.7;
}

.example_img {
  height: 20%;
  width: 80%;
}

.how_to_use {
  margin: 2%;
}

footer {
  text-align: center;
  font-size: 15px;
  padding-top: 2%;
  height: 20%;
  background-color: black;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
}

.right_footer {
  float: right;
  margin-right: 4%;
  width: 40%;
  text-align: left;
}

.left_footer {
  float: left;
  margin-left: 4%;
  width: 40%;
  text-align: left;
}