<header class="w3-cell-row">
  <div class="w3-cell w3-cell-middle logo"><img src="static/images/Logo.png" class="w3-image logo_img"></div>
  <div class="w3-cell w3-cell-middle"><h5>Canterbury Health Directory</h5></div>
  {% if current_user.is_authenticated %}
    <div class="w3-container w3-cell w3-cell-middle sign_in"><a href="/logout" class="w3-btn w3-black w3-small w3-padding-small">Log Out</a></div>
  {% else %}
    <div class="w3-container w3-cell w3-cell-middle sign_in"><a href="/login" class="w3-btn w3-black w3-small w3-padding-small">Log In/Sign Up</a></div>
  {% endif %}
  </header>