<!DOCTYPE html>
<html>
	<head>
		<title>My Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>